<mat-card>
  <form
    *ngIf="!isLoading; else loadingSpinner"
    (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input
        matInput type="email" name="email"
        placeholder="Email Address"
        ngModel #emailInput="ngModel"
        required email />
      <mat-error *ngIf="signupForm.form.get('email')?.invalid">
        Please enter a valid email!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput type="password" name="password"
        placeholder="Password"
        ngModel #passwordInput="ngModel"
        required />
      <mat-error *ngIf="signupForm.form.get('password')?.invalid">
        Please enter correct password!
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button type="submit"
      color="accent">
      Signup
    </button>
  </form>
  <ng-template #loadingSpinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</mat-card>
